@model GameDevCompaniesWebApplication.GamesGenres

@{
    ViewData["Title"] = "Create";
    //Layout = "GameDevCompanies";
}

<h1>Create</h1>

<h4>GamesGenres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="GameId" class="control-label"></label>
                <select asp-for="GameId" class ="form-control" asp-items="ViewBag.GameId"></select>
            </div>*@

            <input type="hidden" value="@ViewBag.GameId" name="GameId">

            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class ="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="ComputerGames" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
