@{
    ViewData["Title"] = "Home Page";
}

    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <img src="http://i.piccy.info/i9/08e5cbdf63304841c5aac6caafd5e90a/1582762339/157320/1364702/home.jpg" width="100%" height="50%" alt="JOPA"/>
        @*<img src="images/home.png" alt="JOPA" />*@
    @*</div>*@
